@import url(http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps);

.app-container {
  width: 100%;
  overflow: hidden;
  background: #ecf0f1;

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: #ddd;

    h1 {
      text-align: center;
      font-family: 'Oleo Script Swash Caps', cursive;
      font-size: 5em;
      color: #34495e;
    }
  }

  .chat-window {
    width: 710px;
    margin-left: 250px;

    .messages {

    }

    .message-box {
      textarea {
        position: fixed;
        bottom: 0;
        font-size: 22px;
      }
    }
  }
}
