extends layout

block headers
  link(href="css/index.css", rel="stylesheet")

block content
  .welcome-container
    .header
      h1 Oolong
    .subheader
      h2 A casual chat room for the net
      a(href="login") Login
