extends layout

block content
  .container.app-container
    .row
      .span3.sidebar
        = user.email
      .span9.chat-window
        .messages
        .message-box
          textarea

  script(src="/socket.io/socket.io.js")
  script(src="js/app.js")
