<div class="user_fragment" data-user-id="{{id}}">
  <div class="profile_picture">
    <img src="{{photo}}"/>
  </div>
  
  <div class="information">
    <div class="email">
      <span>{{email}}</span>
    </div>
  </div>
</div>