<div class="user_fragment" data-user-id="{{id}}">
  <img class="profile_image" src="{{photo}}"/>

  <div class="information">
    <div class="email">
      <span>{{email}}</span>
    </div>
  </div>
</div>
