@import url(http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps);
.app-container {
  width: 100%;
  overflow: hidden;
  background: #ecf0f1; }
  .app-container .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
    background: #ddd; }
    .app-container .sidebar h1 {
      text-align: center;
      font-family: 'Oleo Script Swash Caps', cursive;
      font-size: 5em;
      color: #34495e; }
    .app-container .sidebar .user_fragment {
      height: 80px;
      line-height: 80px; }
      .app-container .sidebar .user_fragment img.profile_image {
        float: right;
        margin: 10px 20px;
        height: 60px;
        width: 60px;
        border-radius: 30px; }
      .app-container .sidebar .user_fragment .information {
        float: right;
        font-size: 16px; }
  .app-container .chat-window {
    margin-left: 350px; }
    .app-container .chat-window .message-box textarea {
      position: fixed;
      bottom: 0;
      font-size: 22px; }
